<body>

  <div id="newsfeed-header">
    <%= image_tag("shapes-left.svg", style: "width: 200px; height: 140px; position: absolute; top:200px; left: 40px")%>

    <%= image_tag("book-pages-left.svg", style: "width: 200; height: 200px; position: absolute; top:200px")%>
    <%= image_tag("woman-sitting-reading.svg", style: "width: 200px; height: 200px; position: absolute; left:650px; top: 170px;")%>
    <%= image_tag("trees-and-sunset.svg", style: "width: 200; height: 200px; position: absolute; left:750px; top: 145px;")%>
  </div>


  <div class="readings-cards">
    <div class="newsfeed-title">
      <h2>My Newsfeed</h2>
    </div>

    <div class="row readings-cards-row">
      <% @readings.select { |reading| reading.read_status == 'Finished' && reading.end_date }.sort_by { |reading| reading[:end_date] }.reverse.each do |reading| %>
        <div data-controller="comment-window">
          <div class="whole-card" id=<%= "reading-#{reading.id}" %>>
            <div class="top-line p-2">
              <div class="user-line d-flex align-items-center">
                <div class="profile-image pr-2">
                  <%= image_tag reading.user.profile_image, class:"avatar-square" %>
                </div>
                <div class="profile-user">
                  <h2><%= reading.user.first_name %> <%= reading.user.last_name %></h2>
                  <% if reading.end_date %>
                    <%# need to set the start_date whenever the read_status is marked as 'Current' %>
                    <%# need to set the end_date whenever the read_status is marked as 'Finished' %>
                      <%# <div class="col post-time"> %>
                    <% if (Date.today - reading.end_date) < 1/24/60 %>
                      <h6> Posted: Today <h6>
                    <% elsif (Date.today - reading.end_date).to_f < 2 %>
                      <h6> Posted: Yesterday </h6>
                    <% elsif (Date.today - reading.end_date).to_f < 7 %>
                      <h6> Posted: This week </h6>
                    <% else %>
                    <h6> Posted:<%= reading.end_date.strftime("%B %e %Y") %></h6>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="book-card-holder d-flex justify-content-around">
              <div class="book-card d-flex m-3">
                <div class="book-cover-image">
                  <%= image_tag reading.book.poster_url %>
                </div>
                <div class="book-post-info">
                  <h3><em><strong><%= reading.book.title.truncate(70) %></strong></em></h3>
                  <p><%= reading.book.author %></p>
                  <p>⭐<%=reading.user.first_name %> awarded <%= pluralize(reading.user_rating, 'star') %> ⭐</p>
                </div>
              </div>
            </div>
            <div class="feedback-bar d-flex my-3 justify-content-around">
              <div class="cheer-button d-flex">
                <%= link_to cheers_book_reading_path(reading.book, reading) do %>
                  <% if current_user.voted_for? reading %>
                    <i class="fas fa-check-circle" style="color:lightblue; font-size:40px; padding:8px"></i>
                  <% else %>
                    <i class="fas fa-check-circle" style="font-size:40px; padding:8px"></i>
                  <% end %>
                <% end %>
                <p><%= reading.votes_for.size %></p>
              </div>
              <div class="comment-button d-flex">
                <button class="button-feedback" data-action="click->comment-window#revealWindow"><i class="far fa-comments" style="font-size:40px"></i></button>
                <p><%= reading.comments.count %></p>
              </div>
              <%= link_to "Add to library", add_reading_path(reading), method: :put, class: "add-book-button" %>
            </div>
          </div>
          <div class="container comment-window <%= "d-none" unless params[:reading] == reading.id.to_s %>" data-comment-window-target="content">
              <%= simple_form_for([reading.book, reading, @comment], remote: true) do |f| %>
                <% if reading.comments.empty? %>
                  <%= f.input :content, placeholder: 'Be the first to comment!...', label:false, input_html: { data: { action:"keyup->comment-window#submit"} } %>
                <% else %>
                  <%= f.input :content, placeholder: 'Comment here...', label:false, input_html: { data: { action:"keyup->comment-window#submit"} }  %>
                <% end %>
              <% end %>
            <% reading.comments.reverse.each do |comment| %>
              <div class="comment-row">
                <%= image_tag (comment.user.profile_image), class: "avatar-square" %>
                <div class="comment">
                  <div class="comment-first-line">

                    <% if comment.user.id == current_user.id %>
                      <p style="text-decoration: underline"><strong>You</strong></p>
                      <%= link_to comment_path(comment), method: :delete, remote: true do %>
                        <i class="fa fa-trash" aria-hidden="true" style="color: white"></i>
                      <% end %>
                    <% else %>
                      <p style="text-decoration: underline"><strong ><%= comment.user.first_name %> <%= comment.user.last_name %></strong></p>
                    <% end %>

                  </div>
                  <div class="comment-second-line">
                    <p id="comment-<%= comment.id %>"><%= comment.content %></p>
                    <h6><em><%= (comment.created_at).strftime('%A, %b %d') %></em></h6>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>






  <%= image_tag("woman-reading-lounge.svg", style: "width: 200; height: 200px; position: absolute; z-index: 9; left:50px; top: 1700px;")%>
  <%= image_tag("book-pages-right.svg", style: "width: 200; height: 200px; position: absolute; z-index: 9; left:1000px; bottom: 100px;")%>
  <%= image_tag("shapes-right.svg", style: "width: 200; height: 200px; position: absolute; z-index: 9; left:1000px; bottom: 100px;")%>


  <div class="literature-quotes-container">
    <%= image_tag("bottom-blue-curvy-shape.svg", style: "transform: rotate(180deg); width: 100%; height: 200px; z-index: 9; position: absolute; top: -120px; left: 40px")%>
    <%= image_tag("book-pages-right.svg", style: "width: 200; height: 200px; position: absolute; top:-120px; left: 650px")%>
    <%= image_tag("shapes-left.svg", style: "width: 200px; height: 140px; position: absolute; top:-120px; left: 650px")%>

    <%# <div class="literature-quote-text"> %>
    <div class="literature-quotes">
      <h2>
        "I would always rather be happy than dignified."
      </h2>
      <p>Charlotte Brontë, Jane Eyre</p>
      <%# <div class="literature-quote-source"> %>
      <div class="literature-quote-icons">
        <div class="quote-icon-circle-current"></div>
        <div class="quote-icon-circle"></div>
        <div class="quote-icon-circle"></div>
      </div>
    </div>
  </div>

</body>
