<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <div class="logo">
      <%= image_tag "logo-pb.png" %>
    </div>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
        <%# <a class="nav-link" href="#">Home</a> %>
      </li>

      <li class="nav-item dropdown" >
        <%= image_tag "vader.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right " aria-labelledby="navbarDropdown">
        <a class="dropdown-item" onclick="openNav()">Open Menu</a>
        </div>
      </li>
    </ul>
  </div>
</div>

<%# <div id="main">
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
</div> %>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <%= link_to 'Newsfeed', book_readings_path(:book) %>
  <%= link_to 'Library', books_path %>
  <%= link_to 'Profile', profile_path %>
  <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
</div>



<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("navbarDropdown").style.marginLeft = "250px";
  // document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("navbarDropdown").style.marginLeft= "0";
  // document.body.style.backgroundColor = "#F9F3DF";
}
</script>
