<div class="container mt-5">
  <div class="d-flex pt-5 justify-content-center">
    <h1><%= current_user.first_name %>'s Reading Statistics</h1>
  </div>

  <div class="divider divider-center pb-5"></div>

  <div class="d-flex p-2 mb-1 mr-5">
    <div class="personal-info">
      <div class="my-profile-image">
        <% if current_user.profile_image%>
          <%= image_tag current_user.profile_image, class:"my-profile-image" %>
        <% else %>
          <%= image_tag "placeholder.jpg", class: "my-profile-image" %>
        <% end %>
      </div>
      <div class="username">
        <p><%= current_user.first_name %> <%= current_user.last_name %></p>
      </div>
      <div>
        <p id="user-speil">User since: March 15 2020 <br>
        <i class="fas fa-user-friends"></i> 16 followers | 12 following</p>
      </div>
      <button type="button" class="btn btn-outline-primary ">Edit profile</button>
    </div>

    <div class="col-6 col-md-8 ml-3 px-4 border-left text-justify">
      <h3>About me</h3>
        <p>
          Hi I'm Simon, I really enjoy reading and collecting books. I have amassed quite the selection of Classics Illustrated
          featuring a veritable cornucopia of literary greats including the Time Machine by H.G Wells, The illiad by Homer, Dune by Frank Herbert and A Tale of Two Cities
          by Charles Dickens to name but a few... <br><br> It would be great to connect with fellow antique book enthusiasts
          on this awesome site. Please comment on my feed if you find my book choices helpful!
        </p>
    </div>




  </div>

  <div class="divider divider-center pb-5"></div>

  <%# <div class="d-flex p-3 justify-content-center">
    <h3>Top Categories</h3>
  </div> %>

  <div class="d-flex justify-content-around">
    <h4>Books read per month</h4>
    <h4>Most read categories</h4>
  </div>
  <div class="pt-5 d-flex justify-content-around">
    <div id="bar-chart">
      <div class="graph">
        <ul class="x-axis">
          <li><span>September</span></li>
          <li><span>October</span></li>
          <li><span>November</span></li>
        </ul>
        <ul class="y-axis">
          <li><span>8</span></li>
          <li><span>6</span></li>
          <li><span>4</span></li>
          <li><span>2</span></li>
          <li><span>0</span></li>
        </ul>
        <div class="bars">
          <div class="bar-group">
            <div class="bar bar-1 stat-1" style="height: 25%;">
              <span>2080</span>
            </div>
            <div class="bar bar-2 stat-2" style="height: 71%;">
              <span>5680</span>
            </div>
            <div class="bar bar-3 stat-3" style="height: 13%;">
              <span>1040</span>
            </div>
          </div>
          <div class="bar-group">
            <div class="bar bar-4 stat-1" style="height: 76%;">
              <span>6080</span>
            </div>
            <div class="bar bar-5 stat-2" style="height: 86%;">
              <span>6880</span>
            </div>
            <div class="bar bar-6 stat-3" style="height: 22%;">
              <span>1760</span>
            </div>
          </div>
          <div class="bar-group">
            <div class="bar bar-7 stat-1" style="height: 78%;">
              <span>6240</span>
            </div>
            <div class="bar bar-8 stat-2" style="height: 72%;">
              <span>5760</span>
            </div>
            <div class="bar bar-9 stat-3" style="height: 36%;">
              <span>2880</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="position-relative">
      <%= pie_chart current_user.top_categories, class: "top-cat-chart", height: "340px", donut: true %>
      <%= image_tag "top-cat-donut-book.svg", class:"book-graphic" %>
    </div>
  </div>

  <div class="divider divider-center pb-5"></div>

  <div class='d-flex flex-row justify-content-around py-3 mb-1'>
    <div class="stats">
      <h2><%= current_user.books_read %></h2>
    </div>
    <div class="stats">
      <h2>1.2</h2>
    </div>
    <div class="stats">
      <h2>5.4</h2>
    </div>
  </div>

  <div class='d-flex flex-row justify-content-around pb-5 mb-5'>
    <div class="stats"><h4>Books read</h4></div>
    <div id="avs" class="stats col justify-content-center">
      <h4>Total time spent reading</h4>
      <h4 style="font-size:smaller">(hours per day)</h4>
    </div>
    <div id="ts" class="stats col justify-content-center">
      <h4>Average reading speed</h4>
      <h4 class="pl-8" style="font-size:smaller">(books per month)</h4>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="astro"><%= image_tag "footer-graphic.svg" %></div>
  </div>

</div>

<!-- Testimonials -->
<div>
  <section class="colored-section" id="testimonials">
    <div id="testimonial-carousel" class="carousel slide" data-ride="false">
      <div class="carousel-inner">
        <div class="carousel-item active container-fluid">
          <h2 class="testimonial-text">"I would always rather be happy than dignified."</h2>
          <em>Jane Eyre, Charlotte Brontë</em>
        </div>
        <div class="carousel-item container-fluid">
          <h2 class="testimonial-text">"A bear, however hard he tries, grows tubby without exercise."</h2>
          <em>When We Were Very Young, A.A. Milne</em>
        </div>
        <div class="carousel-item container-fluid">
          <h2 class="testimonial-text">“It matters not what someone is born, but what they grow to be.”</h2>
          <em>Harry Potter and the Goblet of Fire, J.K. Rowling</em>
        </div>
      </div>
      <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </section>
</div>
