<div class="container mt-5">
  <div class="d-flex pt-5 justify-content-center">
    <h1><%= current_user.first_name %>'s Profile</h1>
  </div>

  <div class="divider divider-center pb-5"></div>

  <div class="d-flex p-2 mb-1 mr-5">
    <div class="personal-info">
      <div class="my-profile-image">
        <% if current_user.profile_image%>
          <%= image_tag current_user.profile_image, class:"my-profile-image" %>
        <% else %>
          <%= image_tag "placeholder.jpg", class: "my-profile-image" %>
        <% end %>
      </div>
      <div class="username">
        <p><%= current_user.first_name %> <%= current_user.last_name %></p>
      </div>
      <div>
        <p id="user-speil">User since: March 15 2020 <br>
        <i class="fas fa-user-friends"></i> 16 followers | 12 following</p>
      </div>
      <div>
      </div>
        <button type="button" class="btn btn-outline-primary ">Edit profile</button>
    </div>

    <div class="col-6 col-md-8 ml-3 px-4 border-left">
      <h3>About me</h3>
        <p>
          Hi I'm Simon, I really enjoy reading and collecting books. I have amassed quite the selection of Classics Illustrated
          featuring a veritable cornucopia of literary greats including the Time Machine by H.G Wells, The illiad by Homer, Dune by Frank Herbert and A Tale of Two Cities
          by Charles Dickens to name but a few... <br><br> It would be great to connect with fellow antique book enthusiasts
          on this awesome site. Please comment on my feed if you find my book choices helpful!
        </p>
    </div>




  </div>

  <div class="d-flex p-3 justify-content-center">
    <h3>Top Categories</h3>
  </div>
  <div class="row p-1 mb-5">
    <%= pie_chart current_user.top_categories, id: "Top-cat-chart", height: "500px", donut: true %>
  </div>

  <div class="d-flex justify-content-center">
    <div class="book-graphic"
         ><%= image_tag "top-cat-donut-book.svg" %>
    </div>
  </div>

  <div class='d-flex flex-row justify-content-around py-3 mb-1'>
    <div class="stats">
      <h2><%= current_user.books_read %></h2>
    </div>
    <div class="stats">
      <h2>1.2</h2>
    </div>
    <div class="stats">
      <h2> <%= current_user.avg_speed %></h2>
    </div>
  </div>

  <div class='d-flex flex-row justify-content-around pb-5 mb-5'>
    <div class="stats"><h4>Books read</h4></div>
    <div id="avs" class="stats flex-column">
      <h4>Total time spent reading</h4>
      <h4 style="font-size:smaller">(hours per day)</h4>
    </div>
    <div id="ts" class="stats flex-column justify-content-center">
      <h4>Average reading speed</h4>
      <h4 class="pl-8" style="font-size:smaller">(books per month)</h4>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="astro"><%= image_tag "footer-graphic.svg" %></div>
  </div>

</div>
