
<div class='container mt-2'>

 <div class="d-flex pt-5 justify-content-center" id="finder">
    <h1>Find a new book!</h1>
  </div>
  <div class="search-bar d-flex flex-row justify-content-center py-3 mb-5">
    <div>
      <%= form_tag search_books_path, class: "d-flex", method: :get do |form| %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search by title, ISBN, author, or category..."
        %>
        <%= submit_tag "Search", class: "btn btn-primary ml-2" %>
      <% end %>
    </div>
    <div>
      <%= link_to "Suggest one!", random_books_path, class: 'btn btn-outline-secondary ml-2' %>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <h1>My Bookshelf</h1>
  </div>
  <div class="divider divider-center pb-5"></div>


  <div class="my-flipster">
    <ul>
    <% current_user.readings.where('read_status = ?', 'Current').reverse.each do |reading| %>
      <li data-flip-category="<%= reading.read_status %>" class='flip-current'>
        <div class='bookmark b-current'>
          <i class="fas fa-bookmark"></i>
        </div>
        <div class='del'>
          <%= link_to reading_path(reading), method: :delete, remote: true do %>
            <i class="fa fa-trash" aria-hidden="true" style="color:grey"></i>
          <% end %>
        </div>
        <%= image_tag reading.book.poster_url, style:"width: 250px; height: 100%; object-fit: contain;" %>
        <%= link_to "Finish Reading", open_list_modal_reading_path(reading), class: "read-button current", remote: true  %>
      </li>
    <% end %>
    <% current_user.readings.where('read_status = ?', 'Future').reverse.each do |reading| %>
      <li data-flip-category="<%= reading.read_status %>" class='flip-future'>
        <div class='bookmark b-future'>
          <i class="fas fa-bookmark"></i>
        </div>
        <div class='del'>
          <%= link_to reading_path(reading), method: :delete, remote: true do %>
            <i class="fa fa-trash" aria-hidden="true" style="color:darkgrey"></i>
          <% end %>
        </div>
        <%= image_tag reading.book.poster_url, style:"width: 250px; height: 100%; object-fit: contain;" %>
        <%= link_to "Start Reading", start_reading_path(reading), method: :put, class: "read-button future"  %>
      </li>
    <% end %>
    </ul>
  </div>

  <!-- Modal -->

  <div class="modal fade" id="finishModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>

  <!-- End of Modal -->
  <div class="d-flex pt-5 justify-content-center my-past-reads-header">
    <h1>My Past Reads</h1>
  </div>

  <div class="divider divider-center pb-5"></div>

  <div class="d-flex justify-content-around py-3 mb-5" id="categories">
    <h4>Top categories:</h4>
    <% current_user.top_categories.each do |key, value| %>
      <div class="border-left px-5 border-right text-center">
        <h4><%= "#{key}"%></h4>
        <h4><%= "#{pluralize(value, 'book')} read " %></h4>
      </div>
    <% end %>
  </div>

  <div class="d-flex flex-wrap justify-content-center align-items-center p-2">
    <% current_user.readings.where('read_status = ?', 'Finished').reverse.each do |reading| %>
      <div class="library-card" >
        <div class="m-3">
          <div>
            <div class="hover-shade">
              <div class="shaded-lib-card" style="background-image: linear-gradient( 0, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2) ), url('<%=reading.book.poster_url%>')">
                <div class="d-flex flex-column">
                  <div class="d-flex justify-content-end p-2" id='del'>
                    <%= link_to book_path(reading.book), method: :delete, remote: true do %>
                      <i class="fa fa-trash" aria-hidden="true" style="color:white; font-size:24px"></i>
                    <% end %>
                  </div>
                  <div id="card-info">
                    <h4 style='color: white'><%= reading.book.title %></h4>
                    <p><%= reading.book.author %></p>
                    <div style="margin-top: -15px;">
                      <% if reading.user_rating %>
                        <% reading.user_rating.times do %>
                          <i class="fas fa-star" style="color:white;"></i>
                        <% end %>
                      <% else %>
                        <p style="color:white;">No User Rating</p>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>
  <div class="d-flex">
    <div id="book"><%= image_tag "book-pages-left.svg" %></div>
    <div id="twinkle"><%= image_tag "shapes-left.svg" %></div>
  </div>
</div>
