
<h1>My Reads</h1>

<br>
<%= form_tag search_books_path, method: :get do |form| %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a book"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
<br>



<ul>
  <% @books.each do |book| %>
  <li>
    <h3> <%= book.title %> </h3>
    <%= image_tag book.poster_url, style:"width: 128px; height: 167px; object-fit: cover" %>
    <br>
    Author: <%= book.author %>
    <br>
    Category: <%= book.category || "No category" %>
    <br>
  </li>
  <% end %>
</ul>
