
<h1>My Reads</h1>

<h4>Top categories: <%= current_user.readings.filter_map{ |reading| reading.book.category if reading.book.category != "No category" }.uniq! %></h4>

<br>
<%= form_tag search_books_path, method: :get do |form| %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a book"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
  <button type="button" class="btn btn-success">
    <%= link_to "Random!", random_books_path %>
  </button>
<br>
<%= @book %>
<br>


<ul>
  <% @books.each do |book| %>
  <li>
    <h3> <%= book.title %> </h3>
    <%= image_tag book.poster_url, style:"width: 128px; height: 167px; object-fit: cover" %>
    <br>
    Author: <%= book.author %>
    <br>
    Category: <%= book.category || "No category" %>
    <br>
    <button type="button" class="btn btn-danger">
      <%= link_to "Delete", book_path(book), method: :delete  %>
    </button>
  </li>
  <% end %>
</ul>
