<br>
<ul>
  <% @books.each do |book| %>
  <li>
    <h3> <%= book['volumeInfo']['title'] %> </h3>
    <% if  book['volumeInfo']['imageLinks'] %>
      <%= image_tag book['volumeInfo']['imageLinks']['thumbnail'] %>
    <% else %>
      <%= image_tag "placeholder.jpg", style:"width: 128px; height: 167px; object-fit: cover" %>
    <% end %>
    <br>
    Author: <%= book['volumeInfo']['authors'].first %>
    <br>
    Publisher: <%= book['volumeInfo']['publisher'] ? book['volumeInfo']['publisher'] : "Unknown publisher" %>
    <br>
    <%
    title = book['volumeInfo']['subtitle'] ? "#{book['volumeInfo']['title']}: #{book['volumeInfo']['subtitle']}" : book['volumeInfo']['title']
    params_hash = { title: title,
                    ISBN: book['volumeInfo']['industryIdentifiers'][0]['identifier'],
                    author: book['volumeInfo']['authors'].first
                  }
    %>
    <%= link_to "Submit", books_path(book: params_hash), method: :post  %>
  </li>
  <% end %>
  </ul>
