<div class="d-flex pt-5 justify-content-center">
  <h1>Search results</h1>
</div>

<div class="divider divider-center"></div>

<div class="container d-flex flex-wrap justify-content-center align-items-center p-2">
  <% @books.each do |book| %>
    <!--
    Creating attributes with API hardening so that unavailable categories dont break page
    -->
    <%
      title = book['volumeInfo']['title'] || "No title"
      poster_url = book['volumeInfo']['imageLinks'] ? book['volumeInfo']['imageLinks']['thumbnail'] : "placeholder.jpg"
      author = book['volumeInfo']['authors'] ? book['volumeInfo']['authors'].first : "Unknown Author"
      publisher = book['volumeInfo']['publisher'] || "Unknown publisher"
      pages = book['volumeInfo']['pageCount'] || 100
      category = book['volumeInfo']['categories'] ? book['volumeInfo']['categories'].first : "No category"
      if book['volumeInfo']['industryIdentifiers'] && book['volumeInfo']['industryIdentifiers'][0]['type'].include?('ISBN')
        isban = book['volumeInfo']['industryIdentifiers'][0]['identifier']
      else
        isban = "No ISBN"
      end
      description = book['volumeInfo']['description'] || "No description"
      google_link = book['volumeInfo']['previewLink'] || "www.google.com"
      rating = book['volumeInfo']['averageRating'] || 0
      rating_count = book['volumeInfo']['ratingsCount'] || 0
    %>

  <%# CARD: %>

    <div class="library-card" >
      <div data-controller="library-card" class="m-3">
        <div data-action="mouseenter->library-card#changeCard mouseleave->library-card#changeCardBack">
          <div data-library-card-target="cover" class="book-poster-image" >
            <%= image_tag poster_url %>
          </div>
          <div class="d-none hover-shade" data-library-card-target="info" >
            <div style="color: white; background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('<%=poster_url%>');
                        background-size: cover; background-position: center; padding: 12px ">
              <div class="d-flex flex-column">
                <div class="d-flex justify-content-end p-2">
                  <% params_hash = { title: title,
                                    author: author,
                                    poster_url: poster_url,
                                    publisher: publisher,
                                    ISBN: isban,
                                    pages: pages,
                                    category: category,
                                    description: description,
                                    google_link: google_link,
                                    rating: rating,
                                    rating_count: rating_count
                                  } %>
                  <%= link_to books_path(book: params_hash), method: :post do  %>
                    <i class="far fa-plus-square" style="font-size:40px; color:white"></i>
                  <% end %>
                </div>
                <div id="card-info">
                  <h4 style='color: white'><%= title %></h4>
                  <p>by <%= author %></p>
                  <p>Category: <%= category %></p>
                  <%= rating.round(1) == 0 ? "No ratings yet" : "Average Rating: #{rating.round(1)}" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
