<br>
<ul>
  <% @books.each do |book| %>
  <li>
    <h3> <%= book['volumeInfo']['title'] %> </h3>
    <% if  book['volumeInfo']['imageLinks'] %>
      <%= image_tag book['volumeInfo']['imageLinks']['thumbnail'] %>
    <% else %>
      <%= image_tag "placeholder.jpg", style:"width: 128px; height: 167px; object-fit: cover" %>
    <% end %>
    <br>
    Author: <%= book['volumeInfo']['authors'].first %>
    <br>
    Publisher: <%= book['volumeInfo']['publisher'] ? book['volumeInfo']['publisher'] : "Unknown publisher" %>
    <br>
    <%
    title = book['volumeInfo']['subtitle'] ? "#{book['volumeInfo']['title']}: #{book['volumeInfo']['subtitle']}" : book['volumeInfo']['title']
    poster_url = book['volumeInfo']['imageLinks'] ? book['volumeInfo']['imageLinks']['thumbnail'] : "placeholder.jpg"
    params_hash = { title: title,
                    author: book['volumeInfo']['authors'].first,
                    poster_url: poster_url,
                  }
    %>
    <%= link_to "Submit", books_path(book: params_hash), method: :post  %>
  </li>
  <% end %>
  </ul>

<!-- order library by most recently added, and change submit button to add to library-->
