<% current_user.readings.each do |reading| %>
  <%# CARD: %>
  <div data-controller="comment-window">
    <div class="container card-product">
      <%# <img src= <%= reading.book.poster_url %>
      <div class="row card-product-infos">

        <div class="col col-md-4">
          <%= image_tag reading.book.poster_url, style:"width: 100%; height: 100%; object-fit: contain" %>
        </div>

        <div class="col">
          <%# id below needed for when comment auto-loads to stop page jumping %>
          <div class="row reading-info">
            <div class="col">
              <div class="row">
                <% if reading.end_date && reading.start_date %>
                  <p>days to read:<%= (reading.end_date - reading.start_date).to_i %></p>
                <% end %>
              </div>
              <div class="row">
                <p><%= reading.book.title %></p>
              </div>
              <div class="row">
                <p><%= reading.book.author %></p>
              </div>
              <div class="row">
                <p><%= reading.book.pages %> pages</p>
              </div>
              <div class="row">
                <p>User rating: <%= reading.user_rating %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%# END OF CARD %>
<% end %>


    <h3> <%= title %> </h3>
    <%= image_tag poster_url, style:"width: 128px; height: 167px; object-fit: cover" %>
    <br>
    Author: <%= author %>
    <br>
    Publisher: <%= publisher %>
    <br>
    ISBN: <%= isban %>
    <br>
